@define-color bg_dark      #141415;
@define-color bg           #18191a;
@define-color bg_light     #282830;
@define-color line         #3c3c4a;
@define-color comment      #50505e;
@define-color fg_dim       #ECE1D7;
@define-color fg           #ECE1D7;
@define-color fg_bright    #ECE1D7;

@define-color yellow       #EBC06D;
@define-color orange       #E49B5D;
@define-color red          #D47766;
@define-color magenta      #CF9BC2;
@define-color purple       #A3A9CE;
@define-color blue         #7F91B2;
@define-color cyan         #89B3B6;
@define-color green        #85B695;

* {
    font-family: "Hack";
    font-size: 14px;
    font-weight: 400;
    min-height: 0;
}

window#waybar {
    background: transparent;
    min-height: 0;
    color: @fg_dim;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    border: none;
    margin: 6px 8px;
    padding: 0;
}

#workspaces {
    padding: 0;
}

#workspaces button {
    color: @fg_dim;
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0 8px;
    margin: 0;

    box-shadow: none;
    text-shadow: none;
    transition: none;
}

#workspaces button:hover,
#workspaces button.workspace-hover {
    color: @fg_bright;
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    color: #FFFFFF;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.urgent {
    color: @red;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.urgent {
    color: @red;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

#clock {
    color: @fg_dim;
    padding: 0 8px;
}

#pulseaudio,
#network,
#battery,

#pulseaudio {
    color: @fg_dim;
}

#battery {
    color: @fg_dim;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}


#tray {
    background: transparent;
    border: none;
    color: @fg_dim;
    padding: 0 7px;
    margin: 0;
}
#tray menu,
#tray menu menuitem,
#tray menu menuitem label {
    font-family: "Sans";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}
